@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Inter';
	font-style: normal;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-content: center; */
	align-items: center;
	background: #f4f4f4;
	padding: 27px;
	height: 100vh;
	overflow-x: auto;
}

.App-header {
	/* box-shadow: 1px 1px #888888; */
	width: calc(100% - 48px);
	max-width: 1200px;
	background: #ffffff;
	border-radius: 8px;
	padding: 27px;
}

.App-header h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

main {
	margin-top: 100px;
	width: calc(100% - 48px);
	max-width: 1200px;
}

.input-section {
	background: #ffffff;
	padding: 27px;
}

.stack {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	border: 1px solid #c2bebe;
	border-radius: 8px;
}

input {
	width: 70%;
	height: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.4);
	padding: 11px 5px;
	border: 1px solid #c2bebe;
	outline: 1px solid #c2bebe;
	border-radius: 4px;
}

textarea {
	width: 70%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.4);
	padding: 11px 5px;
	border: 1px solid #c2bebe;
	outline: 1px solid #c2bebe;
	border-radius: 4px;
}

button {
	margin-top: 20px;
	padding: 12px 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	background: rgb(79, 79, 207);
	border: none;
	color: #ffffff;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.posts {
	margin-top: 30px;
}

.post {
	background: #ffffff;
	padding: 27px;
	border-radius: 8px;
	max-width: 1200px;
	min-width: 800px;
  /* height: 180px; */
	margin-bottom: 20px;
}

.post-header {
	display: flex;
	justify-content: space-between;
}

.post-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 10px;
}

.post-content {
	text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-date {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
}

.post-options {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	margin-top: 10px;
}

.edit-post,
.delete-post,
.view-post {
	cursor: pointer;
}

i{
  color: #c2bebe;
  font-family: 'Inter';
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #ffffff;
  border-radius: 8px;
  min-width: 800px;
  max-width: 1200px;
  padding: 27px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
